@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";
@config "./tailwind.config.js";
@plugin "@tailwindcss/typography";

@tailwind base;
@tailwind utilities;
@tailwind components;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: "Spectral", "serif";
  --font-sans: "Red Hat Text", "sans-serif";
  --font-mono: "IBM Plex Mono", "mono";

  --color-primary: var(--color-stone-900);
  --color-primary-dark: var(--color-stone-400);

  --color-subdued: var(--color-stone-500);

  --color-background: var(--color-stone-50);
  --color-background-dark: var(--color-stone-900);

  --color-surface-100: var(--color-stone-200);
  --color-surface-100-dark: var(--color-stone-700);
  --color-surface: var(--color-stone-100);
  --color-surface-dark: var(--color-stone-800);
  --color-error: var(--color-red-200);
}

@layer base {
  html {
    @apply bg-background dark:bg-background-dark;
  }

  h1 {
    @apply text-2xl font-bold mb-2;
  }

  h2 {
    @apply text-xl font-bold mb-2;
  }

  h3 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply text-base font-bold;
  }

  h5 {
    @apply text-sm font-bold;
  }
}

@layer components {
  .date {
    @apply text-subdued font-serif tracking-wider;
  }
}

.dmk_document {
  @apply font-sans text-primary dark:text-primary-dark;
} 

.dmk_document a {
  @apply text-rose-300 cursor-pointer underline;
}

.dmk_document > .dmk_callout_hint {
  @apply p-2 rounded bg-surface dark:bg-surface-dark text-primary dark:text-primary-dark;
}

.dmk_document > .dmk_callout_error {
  @apply p-2 rounded bg-error;
}

.dmk_document pre {
  @apply p-2 rounded bg-surface dark:bg-surface-dark text-primary dark:text-primary-dark font-mono;
}

.dmk_inline_code {
  @apply px-2 py-[2px] rounded bg-surface dark:bg-surface-dark text-primary dark:text-primary-dark font-mono text-center;
}

code {
  @apply text-sm;
}

.dmk_line_break {
  @apply h-4 w-full;
}

html {
  display: block !important;
}
