<div class="flex flex-col gap-y-10">
  <div>
    <h1>About Me</h1>
    <p>
      Hello! I'm Greyson. I'm currently working as a sofware engineer at
      DraftKings in the Boston HQ. I like building and creating stuff. And
      playing guitar.
      <br>
      <br>
      I've recently been exploring Zig and WASM, and fueled by the usual side-project
      recklessness, decided to use it to power the majority of this site. If
      you're interested, check out my writeup on it here!
    </p>
  </div>
  <div>
    <h1>Posts</h1>
    <div class="flex flex-col justify-start gap-y-2">
      {s}
    </div>
  </div>
</div>
